.container {
	background-color: coral;
	border-radius: 5px;
	margin-bottom: 30px;
}

h1, h2 {
	text-align: center;
	font-family: cursive;
}
.t-align-r {
	text-align: right;
}
.content-header {
	background-color: coral;
	margin-top: 10px;
}
#img {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 5px;
  	width: 150px;
	margin-left: 5px;
}


tr:nth-child(even) {
  background-color:burlywood;
}
.grid {
	display: grid;
	padding-top: 10px;
	padding-bottom: 10px;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-template-columns: auto;
}
.grid-item {
	background-color:aquamarine;
	border-radius: 5px;
	padding: 10px;
}

@media screen and (min-width: 800px){
	.grid2 {
		display: grid;
		padding-top: 10px;
		padding-bottom: 10px;
		grid-column-gap: 20px;
		grid-row-gap: 10px;
		grid-template-columns: auto auto;
	}
	.grid2-item {
		background-color:aquamarine;
		border-radius: 5px;
		padding: 10px;
	}
}

@media screen and (max-width: 801px){
	.grid2 {
		display: grid;
		padding-top: 10px;
		padding-bottom: 10px;
		grid-column-gap: 20px;
		grid-row-gap: 10px;
		grid-template-columns: auto;
	}
	.grid2-item {
		background-color:aquamarine;
		border-radius: 5px;
		padding: 10px;
	}
}
	

@media screen and (min-width: 1000px){
	.greeting {
		font-size: 60px;
		text-align: center;
		font-family: cursive;
	}
	.intro {
		font-size: 40px;
		text-align: center;
		font-family: cursive;
	}

}
@media screen and (max-width: 1001px){
	.greeting {
		font-size: 35px;
		text-align: center;
		font-family: cursive;
	}
	.intro {
		font-size: 20px;
		text-align: center;
		font-family: cursive;
	}
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.footer > p {
	vertical-align: bottom;
	font-size: 12px;
	margin-bottom: 5px;
}

